body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFE;
  color: #273D57;
  margin: 0;
}

nav.main-menu ul {
  font-family: 'BenchNine', sans-serif;
  background: 10px / contain no-repeat url("logo_onde_bleue.png");
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.menu-button {
  display: none;
}

#container {
  margin-top: 4em;
}

.corps {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.corps blockquote {
  margin: 5em 3em;
  padding-left: 2em;
}

.corps blockquote p {
  font-style: italic;
}

.corps blockquote footer {
  /*text-align: right;*/
}

#images {
  text-align: center;
  padding: 2em;
}

#entete {
  background: center no-repeat url("lance-asper-278037-unsplash.jpg");
  background-size: cover;
  padding: 6em;
  text-align: center;
  text-shadow: -1px -1px #273D57;
  color: white;
  font-size: 16pt;
}

h3 {
  text-align: center;
  font-size: 2.5em;
  font-style: italic;
  font-weight: normal;
}

#logo {
  width: 30%;
}

p {
  font-size: 1.5em;
}

section li {
  font-size: 1.5em;
}

section a {
  color: #4A96EE;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #EAF4F7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
  z-index: 1;
}

h2 {
  text-align: center;
  color: #037FBD;
  font-weight: normal;
  font-size: 2em;
  margin: 2em;
  position: relative;
}

#qsn {
  color: #FF9A00;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
  font-size: 1.2em;
}

#menu a {
  color: #03A0A3;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#menu a:hover {
  text-decoration: underline;
}

ul {
  padding: 0 1em;
}

section {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#concretely h2 {
  color: white;
}

#concretely {
  background: center no-repeat url('max-mckinnon-100429-unsplash.jpg');
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 1em;
  min-height: 40em;
  color: white;
  text-shadow: 1px 1px black;
}
#concretely li {
  margin-bottom: 1em;
}

#charte ul {
  margin-left: 2em;
}
#charte i.fas {
  margin-right: 1em;
}

#aboutus {
  background: right no-repeat url('earth.jpeg');
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 800px;
}

#quisommesnous {
  text-align: left;
  color: #EAF4F7;
  font-size: 10pt;
  width: 95%
}

#quisommesnous .circle {
  height: 800px;
  float: left;
  width: 100%;
  margin-top: -153px;
  shape-outside: circle(50vw at 16vw 38vw);
}

footer {
  padding-top: 2em;
}

footer a {
  color: #2575A4;
  padding: 1.5em;
}

footer a:hover {
  text-decoration: underline;
}

#ancremani, #ancrecctm, #ancrecharte, #ancreqsn {
  position: absolute;
  top: -4em;
}

@media screen and (max-width: 2000px) {
  #quisommesnous .circle {
    shape-outside: circle(51vw at 15vw 44vw);
  }
}

@media screen and (max-width: 1600px) {
  #quisommesnous .circle {
    shape-outside: circle(57vw at 11vw 52vw);
  }
}

@media screen and (max-width: 1500px) {
  #quisommesnous .circle {
    shape-outside: circle(57vw at 8vw 52vw);
  }
}

@media screen and (max-width: 1400px) {
  #quisommesnous .circle {
    shape-outside: circle(58vw at 4vw 54vw);
  }
}

@media screen and (max-width: 1300px) {
  #quisommesnous .circle {
    shape-outside: circle(59vw at 0vw 56vw);
  }
}

@media screen and (max-width: 1200px) {
  #quisommesnous .circle {
    shape-outside: circle(60vw at -5vw 58vw);
  }
}

@media screen and (max-width: 1100px) {
  #quisommesnous .circle {
    shape-outside: circle(64vw at -14vw 62vw);
  }
}

@media screen and (max-width: 1000px) {
  #quisommesnous .circle {
    shape-outside: circle(70vw at -30vw 67vw);
  }
  #quisommesnous {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  #quisommesnous .circle {
    shape-outside: circle(70vw at -38vw 71vw);
  }
}

@media screen and (max-width: 800px) {
  #quisommesnous .circle {
    shape-outside: circle(70vw at -48vw 77vw);
  }
}


@media screen and (max-width: 1000px) {
  nav.main-menu ul {
    background: 10px / contain no-repeat url("logo_onde_bleue_notext.png");
  }

  #menu a {
    padding: 0 1em;
  }

  .corps {
    width: 90%;
  }
  h3 {
    font-size: 1.8em;
  }
  #logo {
    width: 40%;
  }
}

@keyframes menu-appear {
  0% {
    left: -50%;
  }

  100% {
    left: 0;
  }
}

@media screen and (max-width: 740px) {
  #menu {
    left: 0;
    bottom: 0;
    width: 50%;
    min-width: 256px;
    flex-direction: column;
    display: none;
    animation: menu-appear 0.5s ease;
  }
  .menu-button {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5em 0.7em;
    font-size: 2em;
    background-color: white;
    border: 1px solid;
    opacity: 0.8;
    cursor: pointer;
    z-index: 2;
  }
  #container {
    margin-top: 0;
  }
  nav.main-menu ul {
    background: center 10px no-repeat url('logo_onde_bleue.png');
    background-size: 50%;
  }
  nav.main-menu ul li {
    font-size: 18pt;
    border-bottom: 1px solid #cfcfcf;
    margin: 2em 2em 0;
  }
  #aboutus {
    background-position-x: center;
  }
  #quisommesnous .circle {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  #logo {
    width: 60%;
  }
  #entete {
    padding: 1em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.2em;
  }
  section li {
    font-size: 1.2em;
  }
  #container {
    text-align: left;
  }
  nav ul {
    flex-flow: row wrap;
  }
  nav ul a {
    padding: 0.3em;
    display: inline-block;
  }
  #menu a {
    padding: 0.3em;
  }
  #menu {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}
