body {
  font-family: Arial narrow, sans-serif;
  background-color: #FFFFFE;
  color: #273D57;
  margin: 0;
}

#container {
  margin-top: 4em;
}

.corps {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#images {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#entete {
  background-image: url(wave.png);
  background-size: cover;
  padding: 1em;
}

#ondebleue {
  width: 33%;
}

h3 {
  text-align: center;
  width: 25%;
  font-size: 1.8em;
  font-style: italic;
  font-weight: normal;
}

#logo {
  width: 67%;
}

p {
  font-size: 1.2em;
}

section li {
  font-size: 1.2em;
}

section a {
  color: #4A96EE;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #EAF4F7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
}

h2 {
  text-align: center;
  color: #FF9A00;
  font-weight: normal;
  margin: 2em;
  position: relative;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
}

#menu a {
  color: #03A0A3;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#menu a:hover {
  text-decoration: underline;
}

ul {
  padding: 0 1em;
}

section {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#concretely {
  background-image: url(drop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
}

#aboutus {
  background-image: url(earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
}

#quisommesnous {
  text-align: right;
  color: #EAF4F7;
}

footer {
  padding-top: 2em;
}

footer a {
  color: #2575A4;
  padding: 1.5em;
}

footer a:hover {
  text-decoration: underline;
}

#ancremani, #ancrecctm, #ancrecharte, #ancreqsn {
  position: absolute;
  top: -4em;
}

@media screen and (max-width: 1268px) {
  #aboutus {
    background-image: url(earth.png);
  }
}

@media screen and (max-width: 1000px) {
  .corps {
    width: 90%;
  }
  h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 601px) {
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  section li {
    font-size: 1em;
  }
  #container {
    text-align: left;
  }
  #images {
    flex-direction: column;
    width: 50%;
  }
  h3 {
    width: 50%;
  }
  nav ul {
    flex-flow: row wrap;
  }
  nav ul a {
    padding: 0.3em;
    display: inline-block;
  }
  #menu a {
    padding: 0.3em;
  }
  #menu {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}
